@model AI_Customer_Service_Lee_8900.Models.ViewModel1


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AI Academic Advisor | BCIT</title>
    <meta charset="utf-8">
    <meta name="author" content="David Lee">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="application-name" content="BCIT">
    <link rel="icon" href="./files/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap" rel="stylesheet">
    <link href="./css/home.css" rel="stylesheet" async />
    <link href="./css/popup.css" rel="stylesheet" async />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="./js/home.js"></script>
</head>

<body>
    <header>
        <div class="nav_bar">
            <div class="lefty">
                <a href="www.bcit.ca" target="_blank">
                    <img src="./files/logo.svg" class="logo" />
                </a>
            </div>
            <div class="rightyy">
                <div class="page_links">
                    <a class="link" href="https://www.bcit.ca/about/visit/" target="_blank">
                        Visit Us
                    </a>
                    <a class="link" href="https://www.bcit.ca/contacts/" target="_blank">
                        Contact Us
                    </a>

                    <div class="user-info">

                        @if (Model.userId < 0) {
                            <button class="login-button" onclick="openLoginPopup()">
                                Login
                            </button>
                        } else {
                            <button class="opener" onclick="openUserDropdown()">
                                <img src="~/files/32147046.png" />
                                <span>@Model.username</span>
                            </button>
                        }
                        <div class="user-dropdown">
                            <div class="head">
                                <h3>User: @Model.username</h3>
                                <button onclick="closeUserDropdown()">X</button>
                            </div>
                            <button class="manage-account">
                                <img src="~/files/manage.svg" />
                                <span>Manage Account</span>
                            </button>
                            <button class="logout" onclick="logout()">
                                <img src="~/files/logout.svg" />
                                <span>Logout</span>
                            </button>
                        </div>
                        <div class="loginpopup">
                            <div class="head">
                                <h3>Login</h3>
                                <button onclick="closeLoginPopup()">X</button>
                            </div>
                            <div class="input-wrapper">
                                <input class="username" name="username" type="email" placeholder="Enter Email"/>
                            </div>
                            <div class="input-wrapper">
                                <input class="password" name="password" type="password" placeholder="Enter Password" />
                            </div>
                            <button class="login" onclick="login(this)">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="home">
        <section class="base_hero">
            <div class="cont">
                <div class="text">
                    <h1>
                        AI Student Advisor
                    </h1>
                    <h2>
                        Speak to our AI student advisor powered by GPT Large Language Model
                    </h2>
                    <button class="cta_btn" onclick="openPopup()">
                        <span>
                            Talk to our AI Customer Service Agent
                        </span>
                        <img src="" class="arrow" />
                    </button>
                </div>
            </div>
        </section>
        <section class="intro">
            <div class="cont">
                <div class="leftyy">
                    <div class="text">
                        <h2>Our AI Academic Advisor & Customer Service Agent</h2>
                        <div class="text">
                            <p>
                                BCIT's first AI chatbot is designed to serve as both an academic advisor and a customer
                                service agent, providing tailored assistance to students and applicants. Powered by advanced
                                open-source GPT models trained on BCIT's website content, this AI chatbot is equipped to
                                handle a wide range of inquiries. Whether students need help navigating course selections,
                                understanding program requirements, or exploring career pathways, the chatbot offers
                                detailed, case-specific advice. It is available 24/7, making it a convenient resource for
                                those seeking guidance on their educational journey.
                            </p>
                            <p>
                                In addition to academic support, the AI chatbot excels in customer service by addressing
                                administrative concerns such as application status, tuition fees, or campus services. By
                                tapping into the wealth of data from BCIT's official resources, it ensures that responses
                                are accurate, up-to-date, and relevant to each user's individual needs. This dual-purpose
                                system not only enhances the student experience by reducing wait times but also empowers
                                applicants to make informed decisions with personalized information at their fingertips.
                            </p>
                            <a class="cta" onclick="openPopup()">Start Chatting With Our AI Agent!</a>
                        </div>
                    </div>
                </div>
                <div class="rightyy">
                    <img class="gpt-image" src="./files/How-to-Create-an-AI-Chatbot.jpg" />
                </div>

            </div>
        </section>
        <section class="cta">
            <div class="cont">
                <h2>
                    2025/2026 BCIT Future Student Guide
                </h2>
                <p>
                    Check out the new Future Student Guide and get a glimpse into all that BCIT has to offer from
                    programs to services, and tips to get started.
                </p>
                <button class="cta_btn" onclick="openPopup()">
                    <span>
                        Talk to our AI Customer Service Agent
                    </span>
                    <img src="" class="arrow" />

                </button>
            </div>
        </section>
    </main>


    <footer class="home-footer">
        <div class="cont">
            <img src="./files/logo.svg" class="logo" />

        </div>
        <div class="cont">
            <div class="lefty">
                <div class="contact">
                    <h2>
                        Contact
                    </h2>
                    <p>
                        3700 Willingdon Ave.

                        Burnaby, British Columbia

                        Canada V5G 3H2
                    </p>
                    <p>
                        Telephone: <a href="tel:1-604-434-5734" target="_blank">604-434-5734</a>
                        Toll-free (Can/US): <a href="tel:1-866-434-1610" target="_blank">1-866-434-1610</a>
                        <a href="https://www.bcit.ca/contacts/" target="_blank">More contact numbers</a>
                    </p>

                    <ul class="social-follow__list">
                        <li class="social-follow__item social-follow__item--facebook">
                            <a href="https://www.facebook.com/bcit.ca" class="social-follow__anchor" rel="me noopener"
                               title="Like us on Facebook" target="_blank">
                                <i class="icon icon-facebook"></i>
                                <span class="a11y-visual-hide">Like us on Facebook</span>
                            </a>
                        </li>
                        <li class="social-follow__item social-follow__item--twitter">
                            <a href="https://twitter.com/bcit" class="social-follow__anchor" rel="me noopener"
                               title="Follow us on Twitter" target="_blank">
                                <i class="icon icon-twitter"></i>
                                <span class="a11y-visual-hide">Follow us on Twitter</span>
                            </a>
                        </li>
                        <li class="social-follow__item social-follow__item--linkedin">
                            <a href="https://www.linkedin.com/school/bcit/" class="social-follow__anchor"
                               rel="me noopener" title="Add us on LinkedIn" target="_blank">
                                <i class="icon icon-linkedin"></i>
                                <span class="a11y-visual-hide">Add us on LinkedIn</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="rightyy">
                    <h2>
                        Campus Information
                    </h2>
                    <ol class="footer-nav__list">
                        <li>
                            <a href="/about/visit/campuses-directions/burnaby/" target="_blank">Burnaby Campus</a>
                        </li>
                        <li>
                            <a href="/about/visit/campuses-directions/downtown/" target="_blank">Downtown Campus</a>
                        </li>
                        <li>
                            <a href="/about/visit/campuses-directions/marine/" target="_blank">Marine Campus</a>
                        </li>
                        <li>
                            <a href="/about/visit/campuses-directions/aerospace/" target="_blank">Aerospace Technology Campus</a>
                        </li>
                        <li>
                            <a href="/about/visit/campuses-directions/annacis-island/" target="_blank">Annacis Island Campus</a>
                        </li>
                    </ol>
                    <ol class="footer-nav__list">
                        <li>
                            <a href="/contacts/?from=https://www.bcit.ca/#website-feedback" target="_blank">Feedback</a>
                        </li>
                        <li>
                            <a href="/copyright/" target="_blank">Copyright</a>
                        </li>
                        <li>
                            <a href="/privacy/" target="_blank">Privacy</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="righty">

            </div>
        </div>
    </footer>

    <section class="chat_window">
        <div class="cont">
            <div class="header">
                <div class="lefty">
                    <div class="chatlist">
                        <button onclick="openChatList()">
                            <img class="hamburger" src="/files/hamburger.svg" />
                        </button>
                    </div>
                    <div class="dp">
                        <img class="profile_pic" src="~/files/bcit-bot.webp"/>
                    </div>
                    <button class="bot_name">
                        <span>
                            AI Agent
                        </span>
                        <img class="down_arow" />
                    </button>
                </div>
                <div class="rightyy">
@*                     <button class="minimize">
                        <img />
                    </button> *@
                    <button class="close" onclick="closePopup()">
                        <svg viewBox="0 0 12 13" width="20" height="20" fill="rgb(105 157 239)" class="xfx01vb x1lliihq x1tzjh5l x1k90msu x2h7rmj x1qfuztq" style="--color: rgb(105 157 239);"><g fill-rule="evenodd" transform="translate(-450 -1073)"><g fill-rule="nonzero"><path d="m98.095 917.155 7.75 7.75a.75.75 0 0 0 1.06-1.06l-7.75-7.75a.75.75 0 0 0-1.06 1.06z" transform="translate(353.5 159)"></path><path d="m105.845 916.095-7.75 7.75a.75.75 0 1 0 1.06 1.06l7.75-7.75a.75.75 0 0 0-1.06-1.06z" transform="translate(353.5 159)"></path></g></g></svg>
                    </button>
                </div>
            </div>
            <div class="chatting">
                <div class="msg_track">
                </div>
            </div>
            <div class="chat_ctrl_panel">
                <button class="savechat" onclick="openSaveChatPopup()">
                    <img src="~/files/save.svg"/>
                </button>
                <textarea class="usr_msg" placeholder="Type message here..." onsubmit="sendMessage()"></textarea>
                    <button class="send_btn" onclick="sendMessage()">
                        <img src="~/files/send.svg"/>
                    </button>
            </div>
        </div>
    </section>

    <section class="converslist">
        <div class="cont">
            <div class="header">
                <div class="lefty">
                    <div class="dp">
                        <img class="profile_pic" src="~/files/AILibrary.png" />
                    </div>
                    <button class="bot_name">
                        <span>
                            Continue Saved Chats
                        </span>
                        <img class="down_arow" />
                    </button>
                </div>
                <div class="rightyy">
                    <button class="close" onclick="closeChatList()">
                        <svg viewBox="0 0 12 13" width="20" height="20" fill="rgb(105 157 239)" class="xfx01vb x1lliihq x1tzjh5l x1k90msu x2h7rmj x1qfuztq" style="--color: rgb(105 157 239);"><g fill-rule="evenodd" transform="translate(-450 -1073)"><g fill-rule="nonzero"><path d="m98.095 917.155 7.75 7.75a.75.75 0 0 0 1.06-1.06l-7.75-7.75a.75.75 0 0 0-1.06 1.06z" transform="translate(353.5 159)"></path><path d="m105.845 916.095-7.75 7.75a.75.75 0 1 0 1.06 1.06l7.75-7.75a.75.75 0 0 0-1.06-1.06z" transform="translate(353.5 159)"></path></g></g></svg>
                    </button>
                </div>
            </div>
        
            <div class="chatlist">
                <div class="chattrack">
                    @if (Model.userId > 0)
                    {
                        <p>List of Saved Chats for <span>@Model.username</span></p>
                    }
                    else
                    {
                        <p>Login to view previous chat</p>
                    }
                </div>
            </div>
        </div>
    </section>

    <section class="savechatpopup">
        <div class="cont">
            <div class="header">
                <div class="lefty">
                    <div class="dp">
                        <img class="profile_pic" src="~/files/AILibrary.png" />
                    </div>
                    <button class="bot_name">
                        <span>
                            Save This Chat
                        </span>
                        <img class="down_arow" />
                    </button>
                </div>
                <div class="rightyy">
                    <button class="close" onclick="closeSaveChatPopup()">
                        <svg viewBox="0 0 12 13" width="20" height="20" fill="rgb(105 157 239)" class="xfx01vb x1lliihq x1tzjh5l x1k90msu x2h7rmj x1qfuztq" style="--color: rgb(105 157 239);"><g fill-rule="evenodd" transform="translate(-450 -1073)"><g fill-rule="nonzero"><path d="m98.095 917.155 7.75 7.75a.75.75 0 0 0 1.06-1.06l-7.75-7.75a.75.75 0 0 0-1.06 1.06z" transform="translate(353.5 159)"></path><path d="m105.845 916.095-7.75 7.75a.75.75 0 1 0 1.06 1.06l7.75-7.75a.75.75 0 0 0-1.06-1.06z" transform="translate(353.5 159)"></path></g></g></svg>
                    </button>
                </div>
            </div>
            <div class="inputwrapper">
                <input name="chatname" placeholder="Chat Save File Name" />
            </div>
        </div>
    </section>
</body>

</html>